.container{

    margin: 30px auto;
}
h4{
    margin-bottom: 10px;
}
footer{
    height: 100px;
    font-size: 30px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 30px;
    -webkit-text-stroke: 1px tomato;
    color: transparent;
    margin-bottom: 60px;
}
h3:hover{
    color: tomato;
}